<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user" class="com.hbuas.pojo.User">
        <!--下标的形式-->
        <!--<constructor-arg index="0" value="zhang"/>-->
        <!--类型的形式-->
        <!--<constructor-arg type="java.lang.String" value="zhang"/>-->
        <!--参数名的形式-->
        <constructor-arg name="name" value="zhang"/>
    </bean>
    <!--alias别名-->
    <alias name="student" alias="stu"/>
    <!--
        id:唯一标识符
        class:全限定名
        name:更高级的别名，支持多个别名 、分割别名
        -->
    <bean id="student" class="com.hbuas.pojo.Student">
        <property name="name" value="QWER"/>
    </bean>
</beans>